In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import seaborn as sns

In [4]:
ruta_del_archivo = '../data/Dataset_final_ventas.xlsx'
#df=pd.read_excel('data/viviendas_web.xlsx', sheet_name='Sheet1')
df = pd.read_excel(ruta_del_archivo)
df.head()

,Tipo_vivienda,Población,Precio,Superficie,Habitaciones,Baños,Precio/m²,Zonas,Zona_binaria,PMZona,PMm²Zona,Municipios,RMP,RMH
0,Piso,Valdemoro,215000.0,122.0,3,2,1762.30,Valdemoro,0,237311.82,1964.44,Valdemoro,13327.0,39791.0
1,Piso,Galapagar,140000.0,66.0,2,1,2121.21,Galapagar,0,267791.35,2090.99,Galapagar,14996.0,43503.0
2,Casa,Villalbilla,279000.0,180.0,4,3,1550.00,Villalbilla,0,317801.71,1887.06,Villalbilla,16160.0,47715.0
3,Piso,Alcorcón,196800.0,85.0,4,1,2315.29,Alcorcón,0,205540.00,2313.14,Alcorcón,13993.0,36837.0
4,Piso,Griñón,130000.0,86.0,3,1,1511.63,Griñón,0,329061.54,1519.84,Griñón,14500.0,44410.0

In [5]:
df = df.dropna().reset_index()
df.shape

(3064, 15)

In [6]:
df[['Precio', 'Superficie', 'Habitaciones', 'Baños', 'Zona_binaria', 'PMZona', 'PMm²Zona', 'RMP', 'RMH']].describe()

,Precio,Superficie,Habitaciones,Baños,Zona_binaria,PMZona,PMm²Zona,RMP,RMH
count,3.064000e+03,3064.000000,3064.000000,3064.00000,3064.000000,3.064000e+03,3064.000000,3064.000000,3064.000000
mean,4.424108e+05,147.418081,3.092037,2.05124,0.393603,4.424108e+05,3194.584504,16249.955287,43768.804504
std,4.853117e+05,149.652004,1.283010,1.23410,0.488628,3.046529e+05,1742.870330,4620.554764,12442.423479
min,6.700000e+04,40.000000,1.000000,1.00000,0.000000,7.200000e+04,450.000000,10007.000000,24890.000000
25%,1.790000e+05,76.000000,2.000000,1.00000,0.000000,2.362745e+05,2034.550000,12745.000000,35278.000000
50%,2.830000e+05,102.500000,3.000000,2.00000,0.000000,2.994262e+05,2549.310000,14379.000000,38421.000000
75%,4.950000e+05,162.000000,4.000000,3.00000,1.000000,6.008709e+05,3803.100000,19257.000000,54057.000000
max,4.000000e+06,3929.000000,14.000000,14.00000,1.000000,2.950000e+06,8422.320000,28233.000000,86403.000000

In [13]:
df['Tipo_vivienda'].value_counts()

Tipo_vivienda
Piso      2357
Casa       404
Chalet     303
Name: count, dtype: int64

In [15]:

from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder

enc = OneHotEncoder(handle_unknown='error')
df=df.join(pd.DataFrame(enc.fit_transform(df[['Tipo_vivienda']]).toarray(), columns=['Casa', 'Chalet', 'Piso']), how='right') ## 2 valores que OneHotEncoder falla asique hacemos el join a la dcha y se eliminan
df

,index,Tipo_vivienda,Población,Precio,Superficie,Habitaciones,Baños,Precio/m²,Zonas,Zona_binaria,PMZona,PMm²Zona,Municipios,RMP,RMH,Casa,Chalet,Piso
0,0,Piso,Valdemoro,215000.0,122.0,3,2,1762.30,Valdemoro,0,237311.82,1964.44,Valdemoro,13327.0,39791.0,0.0,0.0,1.0
1,1,Piso,Galapagar,140000.0,66.0,2,1,2121.21,Galapagar,0,267791.35,2090.99,Galapagar,14996.0,43503.0,0.0,0.0,1.0
2,2,Casa,Villalbilla,279000.0,180.0,4,3,1550.00,Villalbilla,0,317801.71,1887.06,Villalbilla,16160.0,47715.0,1.0,0.0,0.0
3,3,Piso,Alcorcón,196800.0,85.0,4,1,2315.29,Alcorcón,0,205540.00,2313.14,Alcorcón,13993.0,36837.0,0.0,0.0,1.0
4,4,Piso,Griñón,130000.0,86.0,3,1,1511.63,Griñón,0,329061.54,1519.84,Griñón,14500.0,44410.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3059,3061,Piso,Torrejón de Ardoz,89000.0,60.0,3,1,1483.33,Torrejón de Ardoz,0,286160.42,2235.24,Torrejón de Ardoz,12745.0,36317.0,0.0,0.0,1.0
3060,3062,Piso,Madrid Capital,175000.0,75.0,3,1,2333.33,Ciudad Lineal,1,299426.23,3396.59,Ciudad Lineal,16890.0,41311.0,0.0,0.0,1.0
3061,3063,Piso,Madrid Capital,230000.0,60.0,2,2,3833.33,Carabanchel,1,215155.57,2618.83,Carabanchel,12275.0,32050.0,0.0,0.0,1.0
3062,3064,Chalet,Griñón,409000.0,207.0,5,3,1975.85,Griñón,0,329061.54,1519.84,Griñón,14500.0,44410.0,0.0,1.0,0.0
3063,3065,Piso,Parla,128000.0,78.0,3,1,1641.03,Parla,0,156690.78,1709.51,Parla,10251.0,30961.0,0.0,0.0,1.0

In [10]:
column_features = ['Superficie', 'Habitaciones', 'Baños', 'Zona_binaria', 'PMZona', 'PMm²Zona', 'RMP', 'RMH', 'Casa', 'Chalet', 'Piso']
target = 'Precio'

In [16]:
X = df[list(column_features)]
y = df[target]

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

#Escalamos
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test) # SOLO HAY QUE ESCALAR LAS Xs

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV

# Create a polynomial regression pipeline
lr = LinearRegression()

# Define the parameter grid for GridSearch
param_grid = {
    'fit_intercept': [True, False]
}

# Create the GridSearchCV object
grid_search = GridSearchCV(lr, param_grid, scoring='neg_mean_squared_error', cv=5)

# Fit the GridSearchCV object to the training data
grid_search.fit(X_train_scaled, y_train)

# Get the best parameters and best model
best_model = grid_search.best_estimator_

grid_search.best_params_

{'fit_intercept': True}

In [18]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error
import numpy as np
#METRICAS DEL TRAIN
y_pred = best_model.predict(X_train_scaled)

#METRICAS DEL TEST
y_pred_test = best_model.predict(X_test_scaled)
data = {
    'TRAIN' : [mean_absolute_error(y_train, y_pred), mean_squared_error(y_train, y_pred), np.sqrt(mean_squared_error(y_train, y_pred)), r2_score(y_train, y_pred), (mean_absolute_percentage_error(y_train, y_pred)*100)],
    'TEST' : [mean_absolute_error(y_test, y_pred_test), mean_squared_error(y_test, y_pred_test), np.sqrt(mean_squared_error(y_test, y_pred_test)), r2_score(y_test, y_pred_test), (mean_absolute_percentage_error(y_test, y_pred_test)*100)]
}
df_errors = pd.DataFrame(data, index=['MAE', 'MSE', 'RMSE', 'R2Score', 'MAPE'])
df_errors['Difference']=df_errors['TEST']-df_errors['TRAIN']
df_errors.T

                      MAE           MSE           RMSE   R2Score       MAPE
TRAIN       142806.088702  6.776395e+10  260315.088606  0.701379  39.815289
TEST        160235.454453  1.011785e+11  318085.755415  0.622685  40.677356
Difference   17429.365750  3.341460e+10   57770.666809 -0.078695   0.862066

In [19]:
from sklearn.model_selection import cross_val_score


def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())


scoresd = cross_val_score(best_model, X_test_scaled, y_pred_test, scoring="neg_mean_squared_error", cv=10)
scoresfinal = np.sqrt(-scoresd)

display_scores(scoresfinal)


print(f"\nTest: {best_model.score(X_test_scaled, y_pred_test)}\nTrain: {best_model.score(X_train_scaled, y_pred)}")

Scores: [5.99250352e-10 2.39540500e-10 5.53787481e-10 2.49916517e-10
 6.13855500e-10 3.38648353e-10 4.07726171e-10 2.99364098e-10
 1.88945378e-10 6.14375554e-10]
Mean: 4.1054099035429513e-10
Standard deviation: 1.6146172301612963e-10

Test: 1.0
Train: 1.0

In [21]:
X_prueba = pd.DataFrame({
    'Superficie':[93], 
    'Habitaciones':[3], 
    'Baños':[2], 
    'Zona_binaria':[1], 
    'PMZona': [249681.67], 
    'PMm²Zona':[2796.49], 
    'RMP':[15.667],
    'RMH':[38.421], 
    'Casa':[0], 
    'Chalet':[0], 
    'Piso':[1]
})

X_prueba = scaler.transform(X_prueba)

predecimos = best_model.predict(X_prueba)

print("%.2f €" % predecimos[0])

339819.96 €